.descripcion{
    margin: 20px;
    color:black;
    text-align: center;
}
descripcion h1{
    color:blue;
}
.descripcion h2{
    color:blue;
}
.descripcion p{
    color:red;

}

.objetivo{
    margin: 25px;
    text-align: center;
}
.objetivo h3{
    color:blue;
}
.objetivo p{
     text-align: center;
    width: 1400px;
    text-align: justify;
}
.contenido{
    margin:25px;
    text-align: center;
}
.contenido h2{
    color:blue;
}
.contenido h3{
    color:green;
}
.contenido img{
    width: 400px;
    height: 300px;
}
.irpc{
    margin:25px;
    text-align: center;
}
.irpc h3{
    color:green;
}
.irpc img{
    width: 200px;
    height: 250px;
}
.clicm{
    margin: 25px;
    text-align: center;
}
.clicm h3{
    color: green;
}
.irpcm img{
    width: 400;
    height: 380;
}

.formatear{
    margin: 30px;
    text-align: center;
}
.formatear h3{
    color: green;
}
.formatear img{
    width:500;
    height: 400;
}
.pasoe{
    margin: 30px;
    text-align: center;
}
.pasoe h2{
   color:chocolate;
}
.frapido{
     margin: 25px;
    text-align: center;
}
.frapido h3{
    color:chartreuse;
    text-align:center;
}

.frapido img{
    margin: 250;
    height: 300;
}
.carpet{
     margin: 25px;
    text-align: center;
}
.carpet h3{
  color: chartreuse;
    text-align: center;
}

.carpet img{
    margin: 450;
    height: 500;
}
.todos{
     margin: 25px;
    text-align: center;
}
.todos h3{
    color: chartreuse;
    text-align: center;
}

.todos img{
    margin: 450;
    height: 500;
}

.permiso{
     margin: 25px;
    text-align: center;
}
.permiso h3{
    color: chartreuse;
    text-align: center;
}

.permiso img{
    margin: 450;
    height: 500;
}
.terminar{
     margin: 25px;
    text-align: center;
}
.floro {
    color:black;
    text-align: center;
}
.floro h3{
    color:deeppink;
    text-align: center;
}

.floro p{
    color: coral;
    text-align: center;
}
.fin{
     margin: 25px;
    text-align: center;
}
.fin h3{
    color:black;
    text-align: center;
}

.fin p{
    color: black;
    text-align: center;
}
