.descripcion{
   background: white;
    margin: 20px;
    color:black;
    text-align: center;
}
.descripcion h2{
    color:black;
}
.descripcion h1{
    color:black;
}
.objetivo{
    margin: 25px;
    text-align: center;
}
.objetivo h2{
    color:black;
}
.contenido{
    margin:25px;
    text-align: center;
}
.contenido h2{
    color:black;
}

